<header class="p-3 color-custom">
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-white">
            Welcome
          </a></li>
          <li><a href="home" class="nav-link px-2 text-white">Home</a></li>
        </ul>

        <div class="text-end">
          <img id="logo"
          src="https://img.freepik.com/vector-gratis/herramientas-blanco_24877-62042.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1697068800&semt=sph" alt="logo">
        </div>

      </div>

    </div>
  </header>